.button-clickOnly {
    position: relative;
    display: inline-block;
    margin: 20px;
}

    .button-clickOnly a {
        color: white;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        text-decoration: none;
        background-color: #c4c9d1;
        display: block;
        position: relative;
        padding: 20px 40px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        text-shadow: 0px 2px 0px #000;
        -webkit-box-shadow: inset 0 1px 0 #dde1e7, 0 10px 0 #989b9f;
        -moz-box-shadow: inset 0 1px 0 #dde1e7, 0 10px 0 #989b9f;
        box-shadow: inset 0 1px 0 #dde1e7, 0 10px 0 #989b9f;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        height: 70px;
    }

        .button-clickOnly a:active {
            top: 10px;
            background-color: #b0b2b5;
            -webkit-box-shadow: inset 0 1px 0 #dde1e7, inset 0 -3px 0 #989b9f;
            -moz-box-shadow: inset 0 1px 0 #dde1e7, inset 0 -3px 0 #989b9f;
            box-shadow: inset 0 1px 0 #dde1e7, inset 0 -3px 0 #989b9f;
        }

    .button-clickOnly:after {
        content: "";
        height: 111%;
        width: 111%;
        padding: 4px;
        position: absolute;
        bottom: -15px;
        left: -5px;
        z-index: -1;
        background-color: #2B1800;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }


img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
}